.standard-link {
  color: #d6bcfa !important;
}

.standard-link:hover{
  text-decoration: none !important;
}

.theme-underline {
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(70%,transparent),color-stop(70%,rgba(101,125,225,.4)));
  background-image: linear-gradient(180deg,transparent 70%,rgba(101,125,225,.4) 0);
}
